.burger {
  z-index: 5;
  display: inline-block;
  border: none;
  padding: 2px;
  margin: 0;
  background-color: #ffffff09;
  font-family: sans-serif;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.3s ease-in-out;
}

.burger:hover,
button:focus {
  background: #3585e718;
  outline: 1px solid rgb(255, 255, 255);
}