/* Global styles */

*,
::before,
::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  
}

html {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }

  .body-hide-scroll {
    overflow-y: hidden;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }