@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Ubuntu:ital,wght@0,700;1,400&display=swap');
@import '_variables';
@import 'modules/hello.scss';
@import 'modules/global-styles.scss';
@import 'modules/burger.scss';

.navigation {
  z-index: 3;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: none;
    font-size: 2em;
  }
  &__open {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  margin-right: auto;
  bottom: 2rem;
  left: 0;
  right: 0;
  text-align: center; 
  display: flex;
  flex-direction: column;
}
}

.button__close {
  display: none;
  right: 5px;
  position: absolute;
  top: 40px;
  z-index: 5;
  border: none;
  background-color: #ffffff18;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  margin-right: 20px;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;

  &--open {
    display: block;
  }
}

.circle {
  top:0px;
  right: 0px;
  position: fixed;
  width: 0px;
  height: 0px;
  background-color: $yellow;
  &__open {
    z-index: 4;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $yellow;
  }
}



.logo__img {
  height: 110px;
  width: auto;
  margin: 10px 0 0 20px;
}

//GRID
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  column-gap: 0.5rem;
  max-width: 1410px;
  margin: 0 auto;
  width: 100%;
}

.main {
  box-shadow: 0px 4px 53px rgba(0, 0, 0, 0.25);
}

.header { 
  font-family: 'Ubuntu', sans-serif;
  text-align: right;
  position: relative;
  width: 1338px;
  height: 100vh;
  background-color: $blue;
  &__text-container {
    position: absolute;
    right: 6.5em;
    bottom: 10em;
  }
  &__h1 {
    font-size: 6rem;
    color: black;
    margin: 0;
    padding: 0;
  }
  &__p {
    font-size: 2.25rem;
    color: $yellow;
    margin: 0;
    padding: 0;
  }
  &__arrow {
    position: absolute;
    margin-right: auto;
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center; 
    animation: arrow 3s infinite;
  }
}

.about { 
  position: relative;
  padding: 450px 0 200px 0;
  &__text-container {
    margin-left:100px;
  }
  &__h2 {
    font-size: 4rem;
  }
  &__p {
    font-size: 3rem;
  }
  &__me{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    position: absolute;
    top: 12rem;
    right: 12rem;
  }
}

@media screen and (max-width: 1235px) {
  .navigation {
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .about {
    padding-top: 100px;
    margin-left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__me{
      margin-bottom: 2rem;
      width: 340px;
      height: 340px;
      border-radius: 50%;
      position: static;
    }
  }
}