@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Ubuntu:ital,wght@0,700;1,400&display=swap');
@import '_variables';
@import 'modules/hello.scss';
@import 'modules/global-styles.scss';
@import 'modules/burger.scss';
@import 'modules/menu.scss';
@import 'notebook';

:root {
  --text-color: rgb(24, 24, 24);
  --background-color: rgb(255, 255, 255);
  --background-menu: #FFE45E;
  --header-color: #09A5FC;
  // --textarea-color: #ffee005d;
  --textarea-color: #c7e4ff5d;
}
.navigation {
  z-index: 3;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 53px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out ;
  &--test {
    height: 48px;
    background-color: var(--background-color);
  }
}

.logo__img {
  height: 90px;
  width: 90px;
  margin: 10px 0 0 20px;
  transition: ease-in-out 0.5s;
  &--test {
    width: 40px;
    height: 40px;
  }
}

// //GRID
// .grid {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-auto-flow: row;
//   column-gap: 0.5rem;
//   max-width: 1410px;
//   margin: 0 auto;
//   width: 100%;
// }

.header { 
  transition: 0.3s ease-in-out;
  font-family: 'Ubuntu', sans-serif;
  text-align: right;
  position: relative;
  width: 1338px;
  height: 100vh;
  background-color: var(--header-color);
  &__text-container {
    position: absolute;
    right: 6.5em;
    bottom: 10em;
  }
  &__h1 {
    font-size: 6rem;
    color: var(--text-color);
    margin: 0;
    padding: 0;
  }
  &__p {
    font-size: 2.25rem;
    color: $yellow;
    margin: 0;
    padding: 0;
  }
  &__arrow {
    position: absolute;
    margin-right: auto;
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center; 
    animation: arrow 3s infinite;
  }
}

.about { 
  position: relative;
  padding: 450px 0 200px 0;
  &__text-container {
    margin: 0 50px 0 50px;
  }
  &__h2 {
    font-size: 4rem;
    color: var(--text-color);
  }
  &__p {
    font-size: 3rem;
    color: var(--text-color);
  }
  &__me{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    position: absolute;
    top: 12rem;
    right: 12rem;
  }
}

@media screen and (max-width: 1340px) {
  .navigation {
    width: 100%;
  }
  .header {
    max-width: 1340px;
    width: 100%;
    &__text-container {
      position: static;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__h1 {
      font-size: 5rem;
    }
  }
  .about {
    padding-top: 100px;
    margin-left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__me{
      margin-bottom: 2rem;
      width: 340px;
      height: 340px;
      border-radius: 50%;
      position: static;
    }
  }
}

@media screen and (max-width: 770px) {
  .navigation {
    width: 100%;
    height: 60px;
    &--test {
      height: 48px;
      background-color: var(--background-color);
    }
  }
  .logo__img {
    width: 40px;
    height: auto;
  }
  .header {
    width: 100%;
    &__text-container {
      position: static;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__h1 {
      font-size: 5rem;
    }
  }
  .about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0 100px 0;
    &__h2 {
      font-size: 3rem;
      color: var(--text-color);
    }
    &__p {
      font-size: 2rem;
      color: var(--text-color);
    }
    &__me{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      top: 12rem;
      right: 12rem;
    }
  }
}

.checkbox {
  appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: block;
  height: 32px;
  width: 64px;
  background-color: var(--text-color);
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s ease-in-out ;
  &::before{
    content: '';
    position: absolute;
    top:-3px;
    background-color: white;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.486);
    left: 0;
    transition: 0.5s ease-in-out;
  }
}

.checked {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.486);
  position: relative;
  display: block;
  height: 32px;
  width: 64px;
  background-color: var(--text-color);
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  &::before{
    content: '';
    position: absolute;
    top:-3px;
    background-color: black;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.555);
    transform: translateX(30px);
    transition: 0.5s ease-in-out;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #09ecfc2a;
  box-sizing: 10px 10px 10px 10px rgb(0, 0, 0);
  &__h2{
    font-weight: normal;
    color: var(--text-color)
  }
  &__time {
    color: var(--text-color);
  }
}
