.notes {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__item {
        margin: 16px;
        padding: 16px 16px 16px 32px;
        border: $blue 2px solid;
        border-radius: 8px;
        width: 500px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: 3rem;
        font-weight: bold;
        margin: 16px;
    }
    &__input {
        border-radius: 8px;
        border: $blue 2px solid;
        padding: 8px;
        margin: 16px;
    }
}

.content {
    max-width: 500px;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.notes__confirm-button {
    width: 128px;
    height: 32px;
    margin: 4px;
    border: #50505081 2px solid;
    border-radius: 6px;
    color: #0a0a0a;
    background-color: $yellow;
    transition: ease-in-out 0.3s ;
    &:hover {
        background-color: rgba(252, 250, 145, 0.836);
    }
}

.delate-button, .done-button {
    width: 32px;
    height: 32px;
    margin: 4px;
    border: #50505081 2px solid;
    border-radius: 6px;
    color: #0a0a0a;
    transition: ease-in-out 0.3s ;
    &:hover {
        background-color: rgba(148, 148, 148, 0.836);
    }
}